body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: #333;
}

header {
    background: linear-gradient(135deg, #0099ff, #66ccff);
    color: #fff;
    padding: 1rem;
    text-align: left;
}

header h1 {
    margin: 0;
}


header nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    display: block;
}

nav ul li a:hover {
    background-color: #004a99;
    border-radius: 0.25rem;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

section {
    background: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0099ff;
    margin-top: 0;
}

p {
    line-height: 1.6;
}

#posts {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.card {
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card a {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
    width: 100%;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.card h2 {
    margin: 0.5rem;
    color: #0099ff;
}

.card p {
    margin: 0 0.5rem 1rem;
    color: #555;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

@media (max-width: 604px) {
    nav ul {
        padding: 0;
    }

    nav ul li {
        margin: 0.5rem 0;
    }

    #posts {
        flex-direction: column;
        align-items: center;
    }
}
